#textarea-container {
  display: flex;
  align-items: center;
}

#size-form {
  margin: 0px 5px;
}

#colour-form {
  margin: 5px 0px;
}

.bg-red {
  background-color: red;
}

.bg-yellow {
  background-color: yellow;
}

.bg-green {
  background-color: green;
}

.bg-white {
  background-color: white;
}
